
nav {
    position: static;
    top: 0;
}

:root {
    --cor-fundo:#E4E4E4;
    --cor-hover: #60FF00;
    --cor-primaria: #629C44;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
    left: 0%;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    transition: background .3s;
    border-radius: 200px;
}

.dp-menu ul li#senha {
    left: 399px;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 200px;
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}

.dp-menu ul li a svg {
    width: 80px;
    height: 18px;
}

.dp-menu ul img {
    margin-left: 0;
}

.dp-menu span {
    background-color: #E4E4E4;
    text-align: center;
    padding-top: 23;
    padding-bottom: 27;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px 20px 20px 1px;

}

.btn btn-primary {
    background-color: none;
    width: 0px;
    height: 0px;
}

/* Body */

body {
    background-image: url('/cc/background1.png') ;
}
/* Saudação inicial */
h1 {
    color: #ffff;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
/* Botão para mudar apelido */
#apelido {
    border: 0;
    background: none;
    position: absolute;
    left: 94%;
    margin: 0;
    top: 20;
    text-align: center;
    border: 0px;
    padding: 0;
    color: var(--cor-primaria);
    border-radius: 100px;
    transition: 0.25s;
    cursor: pointer;
}

#apelido:hover {
    color: var(--cor-hover);

}

#apelido svg {
    width: 100px;
    height: 30px;
}

#tela2 fieldset {
    border: 0;
    background: none;
    position: absolute;
    backdrop-filter: blur(5px);
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid #ffffff;
    padding: 0px 0px;
    width: 300px;
    height: 300px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    overflow: auto;
}

#tela2 fieldset label {
    margin: 10px;
    top: 30px;
}

#tela2 .matricula {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    font-family: sans-serif;
    height: 30px;
    width: 160px;
    font-size: small ;
    background: none;
    text-align: center;
    justify-content: center;
    border: 1px solid #FFFF;
    outline: none;
    color: #ffff;
    border-radius: 5px;
    transition: 0.25s;
    cursor: text;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tela2 .nome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    font-family: sans-serif;
    height: 30px;
    width: 160px;
    font-size: small ;
    background: none;
    text-align: center;
    justify-content: center;
    border: 1px solid #FFFF;
    outline: none;
    color: #ffff;
    border-radius: 5px;
    transition: 0.25s;
    cursor: text;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#tela2 fieldset button {
    font-size: large;
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 240px;
    border: 0;
    background: #60FF00;
    width: 100px;
    height: 30px;
    position: absolute;
    margin: 0;
    text-align: center;
    border: 1px solid #629C44;
    outline: none;
    color: #0E2916;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tela2 fieldset button:hover{
    background-color: white;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.baterPonto button:hover {
    background: #ffff;
}

.logobottom {
    position: absolute;
    top: 92%;
    left: 90%;
}

.mes {
border: 0;
background: none;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 80px;
margin: 20px auto;
text-align: center;
border: 1px solid #629C44;
padding: 14px 10px;
width: 200px;
outline: none;
color: #ffff;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
















